<body>
<h1 align="center">YOU REALY WANT TO DELETE YOUR PET!?<h1>
<form method="POST" action="/pet_delete">
  <p>YES,DELETE <input type="submit"></p>
</form>
<form method="GET" action="/pet">
  <p>NO, I DONT <input type="submit"></p>
</form>
</body>
